html,
body {
  height: 100vh;
  width: 100vw;
}

*{
  font-family: Nunito,sans-serif!important;
  box-sizing: border-box;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fullscreen {
  width: 100vw;
  min-height: 100vh;
}

.flex{
  display: flex;
}

.flex__column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.bg-lighter-gray {
  background-color: #4b4b4b;
}

.login-logo{
  position: relative;
  font-size: 40px;
  margin-bottom: 50px;
  animation: fadeInUp .8s cubic-bezier(.08,.2,.27,1.15);
  animation-fill-mode: backwards;
}

.logo-text{
  color: #518dcf;
}

.bold{
  font-weight: 700;
}

.login-button{
  position: relative;
  animation: fadeInUp .8s cubic-bezier(.08,.2,.27,1.15);
  animation-fill-mode: backwards;
  
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  animation-delay: 0.15s;
}

.btn-large{
  min-width: 120px;
  height: 48px;
  font-size: 18px;
  padding: 7px 24px;
}

.btn-primary{
  background-color: #3373ba;
  color: #fff;
}
